.profileWrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 16px 0 20px;
}

.swiperContainer {
  width: 100%;
  height: 85vh;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileWrapperMain {
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 2;
  height: 93%;
  justify-content: center;
}

.photoBack {
  position: relative;
  top: 9px;
  left: 0;
  z-index: 1;
  width: 89.5vw;
  border-radius: 32px 32px 20px 20px;
  height: auto;
  max-height: 100%;

}

.mainCardInfo {
  position: relative; /* Абсолютное позиционирование */
  bottom: 40px; /* Расположить внизу */
  left: 0;
  width: 100%;
  right: 0;
  background-color: #1e2721; /* Элементы внутри flex внизу */
  z-index: 2;
  padding: 24px;
  border-radius: 32px 32px 20px 20px;
  height: 100%;
}

.mainParagraphH1 {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  color: #f5f5f5;
}

.headerProfile {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  height: 32px;
}

.countryWrapper {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.textPmain {
  font-size: 12px;
  line-height: 18px;
  opacity: 0.64;
  font-weight: 400;
  color: #ffffff;
  margin: 0;
}

.languageAndAgeInfo {
  display: flex;
  gap: 8px;
  text-align: center;
  align-items: center;
}

.universityInfo {
  display: flex;
  text-align: center;
  height: 16px;
  gap: 1px;
}

.aboutPeople {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
}

.headerText {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  margin: 0;
  margin-bottom: 8px;
}

.interestsPeople {
  margin-top: 16px;
}

.interestsBlock {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.buttonsContainer {
  margin-top: 20px;
  // margin-bottom: 140px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.buttonSendProfile {
  background-color: #84cc16;
  color: #ffffff;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  border: none;
  border-radius: 12px;
  padding: 18px 31px;
  width: 100%;
}

.buttonViewProfile {
  background-color: #313A34;
  color: #ffffff;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  border: none;
  border-radius: 12px;
  padding: 18px 31px;
  width: 100%;
}

.interestsBlocks {
  padding: 4px 12px;
  border-radius: 8px;
  background-color: #313a34;
  font-size: 12px;
  line-height: 18px;
  opacity: 0.64;
  font-weight: 400;
  color: #ffffff;
  margin: 0;
  text-align: center;
}

.photoProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photoProfileImage {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.iconAndIcon {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.LeftOutline {
  font-size: 24px;
  margin-right: 10px;
  cursor: pointer;
}

.profileInfo {
  text-align: center;
  margin-top: 20px;
}

.profileInfo h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.profileInfo p {
  font-size: 16px;
  margin: 5px 0;
}

.moreInfoButton {
  margin-bottom: 10px;
}

.swiperNavigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigationButton {
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: #10ae7e;
  cursor: pointer;
  transition: color 0.3s;
}

.navigationButton:hover {
  color: #10ae7e;
}

@media screen and (max-width: 768px) {
  .navList {
    justify-content: center;
    gap: 10px;
  }
  .profileWrapperMain {
    width: 79.5vw;
    //height: 500px;
  }
  .profileWrapper {
    height: 80%;
    padding: 20px;
  }

  .profileInfo h2 {
    font-size: 24px;
    margin-bottom: 5px;
  }
  .profileInfo {
    margin-top: 5px;
  }
}


@media screen and (max-height: 700px) {
  .mainCardInfo {
    bottom: -30px;
  }
  .photoBack {
    top: 55px;
  }
}

@media screen and (max-height: 740px) {
  .mainCardInfo {
    bottom: 10px;
  }
  .photoBack {
    top: 10px;
  }
}

@media screen and (max-height: 850px) {
  //.mainCardInfo {
  //  bottom: -30px;
  //}
  .photoBack {
    top: 30px;
  }
}

@media screen and (max-height: 900px) {
  //.mainCardInfo {
  //  bottom: -30px;
  //}
  .photoBack {
    top: 31px;
  }
}