.profileWrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding-top: 16px;
}

.swiperContainer {
  width: 100%;
  height: calc(
    100vh - 100px
  ); /* Оставляем место для навигации сверху и снизу */
}

.slide{
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileWrapperMain {
  margin-top: 36px;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  height: 80%;
  justify-content: center;
}

.photoBack {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.mainCardInfo {
  position: absolute; /* Абсолютное позиционирование */
  bottom: 0px; /* Расположить внизу */
  left: 0;
  right: 0;
  background-color: #1e2721; /* Элементы внутри flex внизу */
  z-index: 2;
  padding: 24px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  max-height: 340px;
}

.mainParagraphH1 {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  color: #f5f5f5;
}

.headerProfile {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  height: 32px;
}

.countryWrapper {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.textPmain {
  font-size: 12px;
  line-height: 18px;
  opacity: 0.64;
  font-weight: 400;
  color: #ffffff;
  margin: 0;
}

.languageAndAgeInfo {
  display: flex;
  gap: 8px;
  text-align: center;
  align-items: center;
}

.universityInfo {
  display: flex;
  text-align: center;
  height: 16px;
  gap: 1px;
}

.aboutPeople {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
}

.headerText {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
  margin: 0;
  margin-bottom: 8px;
}

.interestsPeople {
  margin-top: 16px;
}

.interestsBlock {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 6px;
}

.buttonsContainer {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.buttonSendProfile {
  background-color: #84cc16;
  color: #ffffff;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  border: none;
  padding: 11.5px 31px;
}

.buttonViewProfile{
  background-color: #313A34;
  color: #ffffff;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  border: none;
  padding: 11.5px 31px;
}

.interestsBlocks {
  padding: 4px 12px;
  border-radius: 6px;
  background-color: #313a34;
  font-size: 12px;
  line-height: 18px;
  opacity: 0.64;
  font-weight: 400;
  color: #ffffff;
  margin: 0;
  text-align: center;
}

.photoProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photoProfileImage {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.iconAndIcon {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.LeftOutline {
  font-size: 24px;
  margin-right: 10px;
  cursor: pointer;
}

.profileInfo {
  text-align: center;
  margin-top: 20px;
}

.profileInfo h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.profileInfo p {
  font-size: 16px;
  margin: 5px 0;
}

.moreInfoButton {
  margin-bottom: 10px;
}

.swiperNavigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigationButton {
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: #10ae7e;
  cursor: pointer;
  transition: color 0.3s;
}

.navigationButton:hover {
  color: #10ae7e;
}

@media screen and (max-width: 768px) {
  .navList {
    justify-content: center;
    gap: 10px;
  }
  .profileWrapperMain {
    width: 320px;
    //height: 500px;
  }
  .profileWrapper {
    height: 80vh;
  }

  .profileInfo h2 {
    font-size: 24px;
    margin-bottom: 5px;
  }
  .profileInfo {
    margin-top: 5px;
  }
}


@media screen and (max-height:700px) {
  .mainCardInfo{
    bottom: -30px;
  }
}