.eventsDetailWrapper {
  background-color: #1e2721;
  padding: 24px;
}

.detailHeader {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}

.detailText {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #fff;
}

.addressEvent {
  display: flex;
  gap: 4px;
}

