@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.wrapperDetail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  font-family: 'TT Commons', sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: calc(100dvh - 158px);
}

.listContainer {
  overflow-y: auto;
  padding: 12px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: 'TT Commons', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.inputs {
  background-color: #1e2721;
  color: rgba(255, 255, 255, 0.64);
  box-sizing: border-box;
  padding: 13px 16px;
  width: 100%;
  border: none;
  font-weight: 500;
  border-radius: 20px;
  font-family: 'TT Commons', sans-serif;
  font-size: 16px;
  color: white;
  line-height: 21.82px;
  outline: none;
}

.inputs::placeholder {
  color: rgba(255, 255, 255, 0.64); /* Цвет текста для плейсхолдера */
}

.inputs:focus {
  border-color: #007bff; /* Изменение цвета границы при фокусе (по желанию) */
  outline: none; /* Убираем стандартный фокус браузера */
}

.inputContainer {
  display: flex;
  gap: 12px;
  // align-items: center;
  padding: 24px 20px 86px 20px;
  box-sizing: border-box;
  background-color: #303935;
  min-height: 110px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  justify-content: space-around;
  position: absolute;
  width: 100%;
  z-index: 0;
  bottom: 0;
}

.goBackContainer {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
  background-color: #303935;
  justify-content: space-between;
}

.iconGoBack {
  padding: 0;
  color: #f5f9fe;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff66;
  width: 40px;
  height: 40px;
  border-radius: 14px;
  border: none;
}

.sendBtn {
  flex-shrink: 0;
  padding: 0;
  width: 48px;
  height: 48px;
  background-color: #647066;
  border: none;
  color: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s linear;
}

.sendBtn[data-active='true'] {
  background-color: #84cc15;
}

.messages {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 12px;
}

.messageContainer {
  font-family: "Nunito", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  display: flex;
  max-width: 60%;
  padding: 15px 12px;
  line-height: 21.82px;
}

.myMessage {
  margin-left: auto;
  background-color: #84cc15;
  border-radius: 15px 15px 3px 15px;
  color: white;
  text-align: left;
}

.otherMessage {
  margin-right: auto;
  border-radius: 3px 15px 15px 15px;
  background-color: #303935;
  color: white;
  text-align: left;
}

.messageContent {
  border-radius: 10px;
}

.onlineText {
  font-family: 'Rubik', sans-serif; /* Шрифт Rubik */
  font-weight: 400; /* Толщина шрифта */
  font-size: 12px; /* Размер шрифта */
  line-height: 12px; /* Высота строки */
  text-align: center;
  color: rgba(69, 182, 252, 1);
  padding-top: 4px;
}

.lastSeenText {
  font-family: 'Rubik', sans-serif; /* Шрифт Rubik */
  font-weight: 400; /* Толщина шрифта */
  font-size: 12px; /* Размер шрифта */
  line-height: 12px; /* Высота строки */
  text-align: center;
  color: #dee6f2;
  padding-top: 4px;
}

.head_text {
}
