.filterForConnectsWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.filterContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 78 dvh !important;
    overflow-y: auto;
}

.cancelButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 4px 10px; /* Внутренний отступ */
    font-size: 14px; /* Размер текста */
    font-weight: 400; /* Толщина текста */
    color: #fff; /* Белый текст для обычного состояния */
    background-color: #1e2721; /* Зеленый фон для обычного состояния */
    border: 1px solid #84cc16; /* Темно-зеленая граница */
    border-radius: 12px; /* Закругленные углы */
    cursor: pointer; /* Курсор "указатель" */
    transition: all 0.3s ease; /* Плавный переход */
}
