.layoutStylesChat {
  height: 80vh;
}

.HeaderChatClient {
  background-color: #dee6f2;
  font-size: 20px;
  font-weight: 700;
  padding: 0 20px;
  width: 100%;
  color: #001510;
}

.typoGraphy {
  color: #fff;
  margin: 0;
}

.ContentWrapper {
  padding: 20px;
  background: linear-gradient(115deg, #00bf8f, #001510);
}