.layoutStylesChat {
  height: 80vh;
}

.HeaderChatClient {
  background-color: #1890ff;
  padding: 0 20px;
  width: 100%;
}

.typoGraphy {
  color: #fff;
  margin: 0;
}

.ContentWrapper {
  padding: 20px;
  background-color: #fff;
}
