.placeImage {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 100%;
}

.swiperCustomPagination {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.likeImage {
 position: absolute;
 z-index: 10;
 top: 10px;
 left: 320px;
}

.swiperWrapper {
  height: 100%;
}
