.contactsWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}

.containerContact {
  background-color: #84cc16;
  border-radius: 12px;
  gap: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
}

.containerContact:active {
  background-color: #3e4a42;
  transform: scale(0.96); /* Эффект "нажатия" на мобильных */
}

.paragraphOpacity {
  font-size: 12px;
  line-height: 17px;
  color: #fff;
  opacity: 0.64;
}

.constData {
  display: flex;
  gap: 3.5px;
  justify-content: center;
  align-items: center;
}

.paragraphNoOpacity {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #fff;
}
