.overviewText {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  opacity: 0.64;
}

.overviewHeader {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  margin-top: 24px;
}

.overviewWrapper {
  display: flex;
  flex-direction: column;
}

.divider {
  background: #ffffff1f;
}

.reviewCampusHeader {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}
